.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.wallpaper {
    width: 50%;
    height: 512px;
    background: url(@/assets/yay.jpg) no-repeat center 0;
    background-size: 512px 512px;
}

.formWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}